<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weidongjian.com.selfdestructingmessage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
  IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.weidongjian.com.selfdestructingmessage.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.weidongjian.com.selfdestructingmessage.permission.C2D_MESSAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Message"
        android:theme="@style/Theme.Themeactionbar" >
        <activity
            android:name="com.weidongjian.com.selfdestructingmessage.ui.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/title_main_actionbar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.weidongjian.com.selfdestructingmessage.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.weidongjian.com.selfdestructingmessage.ui.SignupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.EditFriends"
            android:parentActivityName="com.weidongjian.com.selfdestructingmessage.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.RecipientActivity"
            android:parentActivityName="com.weidongjian.com.selfdestructingmessage.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ViewImageActivity"
            android:parentActivityName="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" />
        </activity>
        <activity android:name="DispatchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.weidongjian.com.selfdestructingmessage" />
            </intent-filter>
        </receiver>
    </application>

</manifest>