<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weidongjian.com.selfdestructingmessage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Message"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.weidongjian.com.selfdestructingmessage.ui.MainActivity"
            android:label="@string/title_main_actionbar"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.weidongjian.com.selfdestructingmessage.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.weidongjian.com.selfdestructingmessage.ui.SingupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.EditFriends"
            android:parentActivityName="com.weidongjian.com.selfdestructingmessage.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.RecipientActivity"
            android:parentActivityName="com.weidongjian.com.selfdestructingmessage.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.ViewImageActivity"
            android:parentActivityName="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.weidongjian.com.selfdestructingmessage.ui.MainActivity" />
        </activity>
        <activity android:name="DispatchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>